@page
@model RegisterModel





<style>
    body {
        background-color: #EFFDF5; /* Light background color for contrast */
        margin: 0; /* Remove default body margin */
    }

    .form-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 56px); /* Adjust for the navbar height */
    }

    .form-container {
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px; /* Center content horizontally */
        margin-left: 20px
    }

    .form-container-img {
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content; /* Center content horizontally */
    }

    {
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-conte; /* Center content horizontally */
    }

    .img-fluid {
        /* Đảm bảo ảnh giữ nguyên tỉ lệ và không bị căn chỉnh lại */
        object-fit: contain;
        /* Đảm bảo ảnh không vượt ra khỏi kích thước của con tainer */
        max-width: 100%;
        max-height: 100%;
    }

    .title {
        text-align: center;
        font-family: "Noto Sans", "Noto Sans", "Noto Sans", "Noto Sans", Geneva, Verdana, sans-serif;
        margin: 10px 0 30px 0;
        font-size: 32px;
        font-weight: 800;
       color: darkslategrey;
    }

    .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 18px;
        margin-bottom: 15px;
    }

    .input {
        border-radius: 20px;
        border: 1px solid #c0c0c0;
        outline: 0 !important;
        box-sizing: border-box;
        padding: 12px 15px;
    }

    .page-link {
        text-decoration: underline;
        margin: 0;
        text-align: end;
        color: #747474;
        text-decoration-color: #747474;
    }

    .page-link-label {
        cursor: pointer;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        font-size: 9px;
        font-weight: 700;
    }

        .page-link-label:hover {
            color: #000;
        }

    .form-btn {
        padding: 10px 15px;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        border-radius: 20px;
        border: 0 !important;
        outline: 0 !important;
        background: teal;
        color: white;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

        .form-btn:active {
            box-shadow: none;
        }

    .sign-up-label {
        margin: 0;
        font-size: 10px;
        color: #747474;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }

    .sign-up-link {
        margin-left: 1px;
        font-size: 11px;
        text-decoration: underline;
        text-decoration-color: teal;
        color: teal;
        cursor: pointer;
        font-weight: 800;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }

    .buttons-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 20px;
        gap: 15px;
    }

    .apple-login-button,
    .google-login-button {
        border-radius: 20px;
        box-sizing: border-box;
        padding: 10px 15px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        font-size: 11px;
        gap: 5px;
    }

    .apple-login-button {
        background-color: #000;
        color: #fff;
        border: 2px solid #000;
    }

    .google-login-button {
        border: 2px solid #747474;
    }

    .apple-icon,
    .google-icon {
        font-size: 18px;
        margin-bottom: 1px;
    }
</style>
<body>

    <div class="form-wrapper">
        <div class="form-container-img">
            <img src="/images/gdd.png" />
        </div>
        <div class="form-container">
            <p class="title">ĐĂNG KÍ TÀI KHOẢN  </p>
            <p class="sub-title">Hãy là một mảnh ghép của chúng tôi </p>
            <form class="form" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <input asp-for="Input.FullName" type="text" class="input" placeholder="Name">
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
                <input asp-for="Input.PhoneNumber" type="text" class="input" placeholder="Số điện thoại">
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                <input asp-for="Input.Email" type="email" class="input" placeholder="Email">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <input asp-for="Input.Password" type="password" class="input" placeholder="Password">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <input asp-for="Input.ConfirmPassword" type="password" class="input" placeholder="Confirm Password">
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="input" placeholder="Select Role">
                    <option disabled selected>- Select Role -</option>
                </select>
                <button id="registerSubmit" type="submit" class="form-btn">Create account</button>
            </form>
            <p class="sign-up-label">
                Already have an account?<span class="sign-up-link">Log in</span>
            </p>
            
        </div>
    </div>
  
    <!-- Footer End -->
    <!-- JavaScript Libraries -->
    
</body>
