@model int
<link href="~/css/OrderSucess.css" rel="stylesheet">
<section class="login-main-wrapper">
    <div class="main-container">
        <div class="login-process">
            <div class="login-main-container">
                <div class="thankyou-wrapper">
                    <h1><img src="~/images/thanks.jpg" /></h1>
                    <p>Cám ơn đã đồng hành cùng  Pullo </p>
                    <a class="text-secondary" asp-area="Home" asp-controller="Home" asp-action="Index">Back to home</a>
                    <div class="clr"></div>
                </div>
                <div class="clr"></div>
            </div>
        </div>
        <div class="clr"></div>
    </div>
</section>

