
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager




<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <!-- Spinner End -->
        <!-- Navbar Start -->
     
        <!-- Navbar End -->
        <!-- Header Start -->
        <div class="container-fluid header bg-white p-0">
            <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
                <div class="col-md-6 p-5 mt-lg-5">
                    <h1 class="display-5 animated fadeIn mb-4">Thông tin liên hệ</h1>
                    <nav aria-label="breadcrumb animated fadeIn">
                        <ol class="breadcrumb text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item text-body active" aria-current="page">Contact</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-md-6 animated fadeIn">
                    <img class="img-fluid" src="/images/Bus4Layout.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- Header End -->
        <div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
            </div>  
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Liên hệ </h1>
                    <p>Gửi thông tin liên hệ đến chúng tôi phản hồi của bạn sẽ góp phần giúp chúng tôi hoàn thiện hơn ,Chúng tôi rất hân hạnh được hỗ trợ bạn và mong muốn mang đến sự hài lòng tối đa trong mỗi chuyến đi!.</p>
                </div>
                <section class="location text-light py-5">
                    <div class="container" data-aos="zoom-in">
                        <div class="row">
                            <div class="col-lg-3 d-flex align-items-center">
                                <div class="p-2"><i class="far fa-map fa-3x"></i></div>
                                <div class="ms-2">
                                    <h6>ADDRESS</h6>
                                    <p>Teuku Umar ST. 1919</p>
                                </div>
                            </div>
                            <div class="col-lg-3 d-flex align-items-center">
                                <div class="p-2"><i class="fas fa-mobile-alt fa-3x"></i></div>
                                <div class="ms-2">
                                    <h6>CALL FOR QUERY</h6>
                                    <p>(800) 265  216 2020</p>
                                </div>
                            </div>
                            <div class="col-lg-3 d-flex align-items-center">
                                <div class="p-2"><i class="far fa-envelope fa-3x"></i></div>
                                <div class="ms-2">
                                    <h6>SEND US MESSAGE</h6>
                                    <p>infodemofile@example.com</p>
                                </div>
                            </div>
                            <div class="col-lg-3 d-flex align-items-center">
                                <div class="p-2"><i class="far fa-clock fa-3x"></i></div>
                                <div class="ms-2">
                                    <h6>OPENING HOURS</h6>
                                    <p>09:00 AM - 18:00 PM</p>
                                </div>
                            </div>
                        </div> <!-- end of row -->
                    </div> <!-- end of container -->
                </section>
                <div class="row g-4">
                    <div class="col-12">
                        <div class="row gy-4">
                            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                                <div class="bg-light rounded p-3">
                                    <div class="d-flex align-items-center bg-white rounded p-3" style="border: 1px dashed rgba(0, 185, 142, .3)">
                                        <div class="icon me-3" style="width: 45px; height: 45px;">
                                            <i class="fa fa-map-marker-alt text-primary"></i>
                                        </div>
                                        <span>Địa chỉ: Số 01 Tô Hiến Thành, Phường 3, Thành phố Đà Lạt, Tỉnh Lâm Đồng, Việt Nam</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                                <div class="bg-light rounded p-3">
                                    <div class="d-flex align-items-center bg-white rounded p-3" style="border: 1px dashed rgba(0, 185, 142, .3)">
                                        <div class="icon me-3" style="width: 45px; height: 45px;">
                                            <i class="fa fa-envelope-open text-primary"></i>
                                        </div>
                                        <span>Email: <a href="mailto:Wheely@gmail.com">Wheely@gmail.com</a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                                <div class="bg-light rounded p-3">
                                    <div class="d-flex align-items-center bg-white rounded p-3" style="border: 1px dashed rgba(0, 185, 142, .3)">
                                        <div class="icon me-3" style="width: 45px; height: 45px;">
                                            <i class="fa fa-phone-alt text-primary"></i>
                                        </div>
                                        <span>Số điện thoại: <a href="tel:0914028664">0914028664</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.6762331499634!2d106.61131627494594!3d10.732399389407807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ec1f3b7a7c1%3A0x6280c0929826e34b!2sB%E1%BA%BFn%20Xe%20Mi%E1%BB%81n%20T%C3%A2y!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd" width="100%" height="450" style="border:0; max-width: 600px;" allowfullscreen="" loading="lazy"></iframe>

                    </div>
                    <div class="col-md-6">
                        <div class="wow fadeInUp" data-wow-delay="0.5s">
                            <p class="mb-4">Nếu bạn có bất kỳ câu hỏi hay cần hỗ trợ, đừng ngần ngại liên lạc với chúng tôi. Đội ngũ hỗ trợ khách hàng của chúng tôi luôn sẵn sàng giúp bạn 24/7 qua điện thoại, email hoặc qua mẫu liên hệ trực tuyến.  .</p>
                            <form>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="name" placeholder="Your Name">
                                            <label for="name">Your Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="email" placeholder="Your Email">
                                            <label for="email">Your Email</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="subject" placeholder="Subject">
                                            <label for="subject">Subject</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 150px"></textarea>
                                            <label for="message">Message</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Start -->
        
        <!-- Footer End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->

</body>

</html>